.itemDetail{
    margin-top: 100px;
    background: #616161;
    display: inline-flex;
    
    animation: 2s;
    animation-name: aparecer;
    color: #fff176;
    border-radius: 5px;
}

.imagen{
    height: 300px;   
}

.botones{
    margin: 5px;
}

@media (max-width: 1115px) {
    .itemDetail{
        margin-top: 160px;
        display: inline-flex;
        animation: 3s;
        animation-name: aparecer;
        color: #fff176;
        border-radius: 5px;
    }
    
}